table {
    width: 100%;
    border-collapse: collapse;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td,
th {
    width: 25%;
    text-align: center;
}

tr:hover {
    td{
        color: rgb(213, 228, 255);
        background: rgba(27, 74, 228, 0.877);
    }
    cursor: pointer;
}

th.mat-header-cell {
    text-align: center;
}

.spacer{
    width: 100%;
    height: 200px;
}
